
@{
    ViewBag.Title = "QRImgCrystalReportView";
}

<h2>QRImgCrystalReportView</h2>

<a href="~/ReportView/QRImgChkInDReportCrystal.aspx">View Report</a>
<iframe id="showReport" src="~/ReportView/QRImgChkInDReportCrystal.aspx" width="1240" height="840"></iframe>

