
@{
    ViewBag.Title = "QRImgReportView";
}

<h2>QR Image Report</h2>

<iframe id="showReport" src="~/ReportView/QRImageRpt.aspx" width="1240" height="840"></iframe>

@*//@Html.Partial("QRImgReport.aspx")*@


