@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to ITO Inventory System</h1>
    <p class="lead">Developed And Maintained By Information Technology Office</p>
    
</div>

