@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="login-box-body">
    <p class="login-box-msg">@ViewBag.Title</p>
    <hr />
    <p>
        <h4 class="login-box-msg text-success">
            Please check your email to reset your password.
        </h4>
    </p>
        
    <br />
    <p><a href="@Url.Action("Login","Account")" class="text-center">Log-In</a></p>
        
</div>

